.container {
  display: flex;
  flex-direction: column;
  height: 300px;
  margin: auto;
  background-color: #344584;
  color: #ffffff;
  padding: 46px 127px;
  font-size: 12px;
  gap: 20px;
}

.logo {
  background-image: url(../../public/coloredLogo.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 200px;
  height: 50px;
  cursor: pointer;
}

.row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
